<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Photograph Website.
	</title>
	<!-- Latest compiled and minified CSS -->
 	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	    <link href="./css/search.css" rel="stylesheet">
</head>
<body>
<div class="hero-image" >
  <div class="hero-text">
    <h1 font-size="100">Photographs</h1>
    <h2>Capture memories forever</h2>
  </div>
</div>

<div class="container">
	<div class="body1 ml-0 mx-0" alt="img" style="margin-left: 1px; margin-right: 1px;">
		<div class="search-container">
		    <form action="/" method="post" align="center" class="form-inline" style="height: 500px; margin: 0 auto;">
			    <input class="form-control mr-sm-2"  type="search" name="keywords" align="middle" style="height: 35px; margin: 15% auto;" size="100" placeholder="Search" aria-label="Search">
			    <button class="btn btn-dark my-2 my-sm-0" style="height: 35px;" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>


</body>
</html>